@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  *{
    @apply m-0 p-0 box-border;
  }
  
  input {
    outline: none;
  }

  .inputStyles {
    @apply p-2 border-2 border-black rounded-lg w-72;
  }

  a {
    @apply hover:underline;
  }

  button,
  input[type="submit"] {
    @apply hover:bg-black hover:text-white transition-all duration-500 cursor-pointer active:scale-95;
  }

  .entryPage {
    background-image: url("./images/entryPageBg.avif");
  }

  input[value="Find my team"] {
    @apply hover:bg-blue-600;
  }

  .taskDescriptionBtns {
    @apply hover:bg-white hover:text-blue-800 hover:underline;
  }

  .flags::-webkit-scrollbar {
    display: none;
  }
}
